
.navimg {
    width: 6%
    
  } 
  
  .navbar-toggler,
  .navbar-brand {
    border-color: #ff642e;
  }
  .navbar-collapse{
    background-color: #212529;
  }
  .nav-item {
    margin-right: 50px;
    transition: color 0.9s ease-in-out;
  }
  .nav-item:hover,
  .nav-item:focus {
    color: #ff642e
  }
